@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: var(--ring-content-background-color);

  font-size: font-size;
}

.widget {
  composes: font;

  margin: 0;
  padding: 0;
}

.calendar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 16px;
}

:global(.date-only-calendar) :global(.rbc-time-content) {
  display: none !important;
}

:global(.date-only-calendar) :global(.rbc-time-header-gutter.rbc-label) {
  display: none !important;
}

:global(.date-only-calendar) :global(.rbc-time-header) {
  height: 100%;
}

:global(.date-only-calendar) :global(.rbc-time-header-content) {
  border: none !important;
}

:global(.custom-toolbar-navigate) {
  display: block;

  width: auto;
  height: 40px;

  text-align: center;
}

:global(.rbc-btn-group) {
  display: inline-block;
  float: right;
}

:global(.selection-title) {
  display: inline;

  margin: 0 auto;

  text-align: center;
}

:global(.selection-title-text) {
  display: inline;

  margin: 0 auto;

  text-align: center;

  font-size: 16px;
}

:global(.navigation-block) {
  display: inline;
  float: left;
}

:global(.rbc-today) {
  background-color: var(--ring-selected-background-color);
}

:global(.rbc-show-more) {
  color: var(--ring-main-color);

  border-radius: var(--ring-border-radius);
  font-size: 12px !important;
  font-weight: 400;
  text-decoration-line: none;
}

:global(.rbc-show-more:hover) {
  color: var(--ring-link-hover-color);
}

:global(.rbc-event-content:hover) {
  text-decoration: none;

  line-height: 1;
}

:global(.event-link:hover) {
  text-decoration: none;
}

:global(.rbc-event-content) {
  height: 16px !important;
  margin-right: 0;
  margin-left: 0;
}

:global(.rbc-row-segment) {
  margin-right: 0;
  margin-left: 0;
}

:global(.rbc-off-range-bg) {
  background-color: var(--ring-sidebar-background-color);
}

:global(.rbc-event) {
  height: 16px;
  margin-top: 4px;
  padding: 0;

  border: none !important;
  background-color: transparent;

  font-size: 11px !important;
  line-height: normal !important;
}

:global(.event-link) {
  overflow: hidden;

  max-width: 100%;
  height: 16px !important;
  padding: 0 4px;

  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;

  color: white;
  border-radius: 3px;

  font-size: 11px;
  line-height: 14px;
}

:global(.custom-field-icon) {
  width: 10px;
  height: 10px;
  margin: 4px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

:global(.rbc-month-view) {
  border-radius: var(--ring-border-radius);
  height: auto !important;
}

:global(.rbc-time-view) {
  border-radius: var(--ring-border-radius);
}

:global(.event-container) {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  height: 16px;

  border: 1px solid;
  border-radius: 3px;

  &:not(:hover) {
    border-color: transparent !important;
  }
}

:global(.rbc-time-content .event-container) {
  border: 2px solid !important;

  &:not(:hover) {
    border: 1px solid !important;
  }
}

:global(.custom-field-block) {
  display: flex;
  align-items: center;
  flex-direction: row;

  max-width: 160px;
  margin-right: 16px;
}

:global(.custom-field-value) {
  display: flex;
  float: right;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

:global(.popup-body) {
  padding: 8px;
}

:global(.popup-header) {
  display: flex;

  align-items: baseline;
  flex-direction: row;

  width: 100%;
  margin-top: 8px;
  margin-left: 8px;
}

:global(.popup-color-scheme-field) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  text-align: center;

  border-radius: 3px;
}

:global(.issue-popup) {
  overflow: hidden;

  width: 400px;
  max-height: 150px;
}

:global(.issue-dropdown) {
  width: 100%;
}

:global(.popup-customfields-block) {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  margin-top: 16px;

  margin-left: 8px;

  text-overflow: ellipsis;

  color: var(--ring-secondary-color);

  font-size: var(--ring-font-size-smaller);
}

:global(.popup-header-text) {
  display: block;
  overflow: hidden;

  width: calc(100% - 32px);
  margin-left: 8px;

  text-overflow: ellipsis;

  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

:global(.event-resolved) {
  text-decoration: line-through;
}

:global(.event-resolved:hover) {
  text-decoration: line-through;
}

:global(.rbc-event) {
  height: 16px !important;
  min-height: 16px !important;

  border-radius: 3px;

  background-color: transparent;
}

:global(.rbc-event.rbc-selected) {
  background-color: transparent;
}

:global(.rbc-event-label) {
  display: none;

  width: 0 !important;
}

:global(.rbc-row-segment) {
  height: 24px;
  padding: 0 8px;
}

:global(.rbc-date-cell) {
  color: var(--ring-text-color);
  padding-right: 8px;
}

:global(.rbc-header) {
  color: var(--ring-text-color);
}

:global(.rbc-date-cell.rbc-off-range) {
  color: var(--ring-hint-color);
}

:global(button.nav-button) {
  margin-right: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

:global(.rbc-calendar) {
  min-width: 400px;
}
